name: Pull request CI

on:
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: "22"
        cache: "yarn"
    - run: yarn install --frozen-lockfile
    - run: yarn run test
